{% assign directoryPrefix = "" %}
{% for i in (1..level) %}
	{% assign directoryPrefix = directoryPrefix | append: "../" %}
{% endfor %}

{% assign years = posts | map: "year" | uniq | sort | reverse %}

{% assign hidePastArticles = hidePastArticles | default: false %}

<div class="content archive">
	{% if series %}
		<div class="series">
			<h1 class="title">{{ series }}</h1>
			<div class="subheading">Series Archive</div>
			<div class="description">{{ seriesDescription | raw }}</div>
		</div>
	{% else %}
		<h1 style="display: none;">Hi, I'm Ian! I'm a software engineer, architect, and team leader based in Minneapolis with 14 years of professional experience. My bread and butter is .NET, but I find enjoyment and interest in using a diverse set of technologies.</h1>
	{% endif %}

	{% for year in years %}
		{% assign intYear = year | plus: 0 %}
		{% if hidePastArticles == false or intYear > 2020 %}
			<section id="{{ year }}">
				<div class="subheading">{{ year }}</div>
				<ul>
					{% assign postsForYear = posts | where: "year", year %}
					{% for post in postsForYear %}
						<li>
							<em>{{ post.month }}.{{ post.day }}</em>
							<a href="{{ directoryPrefix }}Posts/{{ post.fileName }}.html">
								{{ post.title }}<small>{{ post.description }}</small>
							</a>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}
	{% endfor %}

	{% if hidePastArticles %}
		<section id="past-articles" class="past-articles">
			Looking for an earlier article? All of my past articles are <a href="https://ian.wold.guru/Series/past_articles.html">archived here</a>.
		</section>
	{% endif %}
</div>
