{% assign directoryPrefix = "" %}
{% for i in (1..level) %}
	{% assign directoryPrefix = directoryPrefix | append: "../" %}
{% endfor %}

{% assign years = posts | map: "year" | uniq | sort | reverse %}

<div class="content archive">
	{% if series %}
		<div class="series">
			<h1 class="title">{{ series }}</h1>
			<h1>Series Archive</h1>
			<div class="description">{{ seriesDescription | raw }}</div>
		</div>
	{% endif %}

	{% for year in years %}
		<section id="{{ year }}">
			<h1>{{ year }}</h1>
			<ul>
				{% assign postsForYear = posts | where: "year", year %}
				{% for post in postsForYear %}
					<li>
						<em>{{ post.month }}.{{ post.day }}</em>
						<a href="{{ directoryPrefix }}Posts/{{ post.fileName }}.html">
							{{ post.title }}<small>{{ post.description }}</small>
						</a>
					</li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
</div>
